# general
API_PORT = 8000

# mongo
MONGO_DB_CONNECTION_URI=mongodb://mongodb:27017
MONGO_DB_ADMIN_USERNAME=admin-user
MONGO_DB_ADMIN_PASSWORD=admin-password
MONGODB_CHAT_DATABASE=chat-database
MONGODB_CHAT_COLLECTION=chat-collection
MONGODB_MESSAGES_COLLECTION=messages-collection
